@model JobApp.Models.UserModel.UserEducation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserEducation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressNation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressNation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilityAddressCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilityAddressCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilityAddressStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilityAddressStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilityAddressState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilityAddressState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Graduation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Graduation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestimonyUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestimonyUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
