@model JobApp.Models.JobModel.JobOffer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>JobOffer @Model.Id</h4>
<hr />





<div class="row">
    <div class="col-md-4">
        @* <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CompanyBranchId" class="control-label">@Html.DisplayFor(m=>m.CompanyBranch.Company.CompanyName)</label>
                <input asp-for="CompanyBranchId" class="form-control"/>
                <span asp-validation-for="CompanyBranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="JobId" />
                <span asp-validation-for="JobId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobId" class="control-label">@Html.DisplayFor(m=>m.Job.Title)</label>
                <input asp-for="JobId" class="form-control" />
                <span asp-validation-for="HeadHunterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadHunterId" class="control-label">@Html.DisplayFor(m=>m.HeadHunter.FirstName)&nbsp;@Html.DisplayFor(m=>m.HeadHunter.LastName)</label>
                <input asp-for="HeadHunterId" class="form-control" />
                <span asp-validation-for="HeadHunterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobExchangeId" class="control-label">@Html.DisplayFor(m=>m.JobExchange.Name)</label>
                <input asp-for="JobExchangeId" class="form-control" />
                <span asp-validation-for="JobExchangeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationnId" class="control-label">Bewerbung zuordnen</label>
                <input asp-for="ApplicationnId" class="form-control" />
                <span asp-validation-for="ApplicationnId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryOffered" class="control-label">Gebotenes Gehalt</label>
                <input asp-for="SalaryOffered" class="form-control" />
                <span asp-validation-for="SalaryOffered" class="text-danger"></span>
            </div>
            <div class="form-group form-check pl-0">
                <label class="form-check-label mr-auto">Noch Angeboten?
                </label>
                    <input class="form-check-input ml-auto float-right" asp-for="IsActive" /> 
            </div>
            <div class="form-group">
                <label asp-for="Releasedate" class="control-label">Veröffentlichungsdatum</label>
                <input asp-for="Releasedate" class="form-control" />
                <span asp-validation-for="Releasedate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobOfferUrl" class="control-label"></label>
                <input asp-for="JobOfferUrl" class="form-control" />
                <span asp-validation-for="JobOfferUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form> *@

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="JobId" class="control-label">Bezeichnung</label>
                <select data-val="true" id="JobId" name="JobId">
                    <option value="" selected="selected">--</option>
                        @foreach(var item in Model.JobsList)
                        {
                            if(Model.JobId.ToString() == item.Value)
                            {
                            <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                               <option value="@item.Value">@item.Text</option> 
                            }
                        }
                      </select>
                <span asp-validation-for="JobId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyBranchId" class="control-label">Arbeitgeber</label>
                <select data-val="true" id="CompanyBranchId" name="CompanyBranchId">
                    <option value="" selected="selected">--</option>
                @foreach(var item in Model.CompanyBranchesList)
                        {
                            if(Model.CompanyBranchId.ToString() == item.Value)
                            {
                            <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                               <option value="@item.Value">@item.Text</option> 
                            }
                        }
                      </select>
                <span asp-validation-for="CompanyBranchId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HeadHunterId" class="control-label">Headhunter</label>
                <select data-val="true" id="HeadHunterId" name="HeadHunterId">
                    <option value="" selected="selected">--</option>
                @foreach(var item in Model.HeadHuntersList)
                        {
                            if(Model.HeadHunterId.ToString() == item.Value)
                            {
                            <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                               <option value="@item.Value">@item.Text</option> 
                            }
                        }
                      </select>
                <span asp-validation-for="HeadHunterId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="JobExchangeId" class="control-label">Job Portal</label>
                <select data-val="true" id="JobExchangeId" name="JobExchangeId">
                    <option value="" selected="selected">--</option>
                @foreach(var item in Model.JobExchangesList)
                        {
                            if(Model.JobExchangeId.ToString() == item.Value)
                            {
                            <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                               <option value="@item.Value">@item.Text</option> 
                            }
                        }
                      </select>
                <span asp-validation-for="JobExchangeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SalaryOffered" class="control-label">Lohnangabe</label>
                <input asp-for="SalaryOffered" class="form-control" />
                <span asp-validation-for="SalaryOffered" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Releasedate" class="control-label"></label>
                <input asp-for="Releasedate" class="form-control" />
                <span asp-validation-for="Releasedate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobOfferUrl" class="control-label"></label>
                <input asp-for="JobOfferUrl" class="form-control" />
                <span asp-validation-for="JobOfferUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
