@model JobApp.Models.UserModel.UserContactData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserContactData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressNation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressNation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumberAlt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumberAlt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddressAlt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddressAlt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Current)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Current)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
