@model JobApp.Models.JobModel.JobData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionShort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionShort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionLong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionLong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Current)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Current)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
